

body{
    direction: rtl;
}

#side-bar .ui.header{
    padding-left: 0;
    padding-right: 1em;
}

.general-form .grd-secondary{
    padding: 0;
    padding-right: 0em;
    padding-left: 1em;
}

.copyright{
    margin-right: 20%;
    margin-left: 0;
}

/*
--------------------------------------------------------------------------------
                                        collpase menu
--------------------------------------------------------------------------------
*/

.collapse-menu #body-content{
    margin-right: 0;
}
