

body{
    direction: rtl;
}

#side-bar .ui.header{
    padding-left: 0;
    padding-right: 1em;
}


/*
--------------------------------------------------------------------------------
                                        collpase menu
--------------------------------------------------------------------------------
*/

.collapse-menu #body-content{
    margin-right: 0;
}
