/**





################################################################################
sematic ui modif :
--------------------------------------------------------------------------------
.pushable -> remove
background:#545454!important
.ui.sidebar ->remove
overflow-y:auto!important
--------------------------------------------------------------------------------

*/

@import url(vazir.css);

body{
    background-color : #444851 ;
    color: #eeeeee;
    background-image: url(../img/bg.jpg) ;
    background-size:  100% auto;
    background-attachment: fixed;
    font-size: 9pt;
}

*{
    font-family: 'Vazir';
}

#preloader{
    position: fixed;
    left:49%;
    top: 49vh;
    display: none;
    z-index: 9999;
}
#preloader .segment{
    padding: 25px;
}

#header{
    z-index: 999 !important;
    position: relative;
    background: transparent ;
    margin-bottom: 0;
    margin-top: 0;
}

#header #menu-control{
    display: none;
}


#body-content{
    /*margin-left: 260px;*/
    min-height: calc(100vh - 60px);
    border-radius: 5px;
}
#body-content .pusher{
    background: #444851 ;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}


#side-bar{
    overflow: visible;
}
#nscroll{
    max-height: 90vh;
}
#side-bar.visible{
    z-index: 99;
}
#side-bar .ui.header{
    margin-top: 75px;
    color: #eeeeee;
    padding-left: 1em;
    font-size: 14pt;
    -o-transition:.6s;
    -ms-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition:.6s;
}
#side-bar.scrolled .ui.header{
    margin-top: 1em;
}

#side-bar .ui.header .item .content{
    font-size: 10pt;
    line-height: 1.5em;

}

#side-bar .ui.header .item .content .description{
    color: #eeeeee;
}



#side-bar .corner.label{
    font-size:8px;
}


.viewport{
    padding: 1em;
    background: #444851 ;
    min-height: calc(100vh - 60px);
    overflow: hidden;
}

.viewport h2{
    background: #333 ;
    padding: .5em 1em;
    text-align: center;
    margin: .5em 0;
    font-size: 12pt;
    border-radius: 3px;
}

.pusher{
    max-width: calc(100% - 270px);
}

.general-form .grd-secondary{
    padding: 0;
}


.white-text{
    color: #fff !important;
}

.copyright{
    padding: 1em 2em;
    text-align: center;
    color: #FFF;
    font-weight: 900;
    margin-left: 20%;
}

/*
--------------------------------------------------------------------------------
                                        collpase menu
--------------------------------------------------------------------------------
*/
.collapse-menu #header #menu-control{
    display: flex;
}
.collapse-menu #side-bar .ui.header{
    margin-top: 1em;
}

.collapse-menu  .pusher,.pusher .pusher{
    background: transparent !important ;
    max-width: none;
}
.collapse-menu  .copyright{
    margin-left: 0;
    margin-right: 0;
}


/*
--------------------------------------------------------------------------------
                            semantics & others patches
--------------------------------------------------------------------------------
*/
body.pushable>.pusher{
    background: transparent !important ;
}

.ui.button,input,select,textarea,button,.listview-search .dropdown,.listview-bulk-action .dropdown{
    font-size: 9pt;
}
.button.ui .fa,button .fa,.button.ui .icon,button .icon{
    font-size:14px;
}

.grd-primary{
    float: left;
}

.grd-secondary{
    padding: 0;
    padding-left: 1em;
}

.ui.inverted.form input[type=file]{
    padding: .5em;
}

.picker__select--year,.picker__select--month{
    width: 30% !important;
    display: inline-block !important;
}

.datepicker{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAXCAYAAAALHW+jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AsWCCkyWrAXowAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAJDSURBVDjLnZU9a1RREIaf2b2ra9gFU6g5uLEwIgoBBRWsRFSiweYq/gIbQSsFDVpIQBSsxMKf4AcIcgoRRFGLIGJnExU/ihQeTSlKkt14x2YOHC53N9Epdnlnzpk795135kKFOa+XndcGfcx53ei8TjmvUo7V+ty5AWynvx0BrgKrTgjQGxBbBjTkUpQD4rx2gPdAqxQrBjxQ4/3E9x0YrwGXSsnG7f8k0K1I9ge4BvwGziT+EeB8DdhQunDY+CmANRUJ68BH4CawtxRrifM6BRyqeCVhsFWdeZQBXyr4+1+by4yrU8B8KjXgW1JB2zq7kKhjkzUiNmgzcDt2cSbk0gG2AVuAzyGX0QRfB04DW823C5gDxgyPWkGaJRIh5LJok6AlvAz0Qi5dww2rbCnkouZbUdj9tDfQJ87rXWACeG0PUOv6MyAzPAb8SnjOgAPAS4sXwDHgTmbEzwMPTHfLpq/7wDrDx4EAvLPzTWAP8DAZxYOA4Lzec16fl7bJhxK+4LxOJrjtvH6NvJnvh/N66184lNX4YpcbzusQsNa2TN15zUx/PXv1lvO63pK0je9hU0QvJs+M0N1GcGxKB5ixuVUb/EXgYjLPI8DTpNvDUYd14E3I5WjCx2zIZX+CzwKzIZdXhgX4FHLZl5wJgMSK6iss3iYwlG4VoFb6BNTij8RJGSDYLrCU4AWgiFOSbh9xXqeBc8ALq7QAJoHHQMPwDuCnLYPI/QTwJBndE8AVcV6btix3JpWWd13V7kt9ArwFpv8Ctt/A5Glz+/0AAAAASUVORK5CYII=") !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 15px) 6px !important;
}

