

body{
    direction: rtl;
}

#side-bar .ui.header{
    padding-left: 0;
    padding-right: 1em;
}

.grd-secondary{
    padding: 0;
    padding-left: 0;
    padding-right: 1em !important;
}

.copyright{
    margin-right: 20%;
    margin-left: 0;
}



.grd-primary{
    float: right;
}
.grd-secondary{
    float: left;
}
/*
--------------------------------------------------------------------------------
                                        collpase menu
--------------------------------------------------------------------------------
*/

.collapse-menu #body-content{
    margin-right: 0;
}
