
/* 
    Created on : Mar 31, 2015, 9:23:22 PM
    Author     : ToosCM team
    todo       : mobile.css for mobile toos application css
*/

@media (max-width: 480px){
    
    #header #admin-bar{
        height:auto;
    }
    #header #admin-bar #you{
        width:90%;
        margin: auto;
        float: none;
        display: block;
    }
    #header #admin-bar #admin-search,#header #admin-bar #admin-search:focus{
        float:none;
        width:85%;
        margin: auto;
        display: block;
    }

    
    label > .cke_reset{
        margin:0;
        width:100%
    }
   
}