
/* 
    Created on : Mar 31, 2015, 9:23:22 PM
    Author     : ToosCM team
    todo       : tablet.css for tablet pc toos application css
*/


@media (max-width: 768px){

    #header{
        height: auto;
        position: static;
        overflow: visible;
    }

    #header #logo{
        height:auto;
        width:100%;
        float: none;
    }

    #header #logo img{
        padding: 5px 0;
        max-height:30px;
        margin: auto;
    }

    #header #nav-header{
        height:auto;
        width:100%;
        float:none;
        background:white;
    }

    #header #admin-bar {
        width:100%;
        float: none;
        height:auto;
        background:white;
        padding:1em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing:border-box;
    }



    #content {
        margin-top: auto;
        margin-left: 0;
        margin-right: 0!important;
    }
    #sidebar {
        display:none;
        padding-top:0;
    }

    #sidebar.show{
        display:block;
        z-index:99;
    }




    #footer{
        position: static;
        opacity:1;
    }


    .mobile-visble{
        display:inline-block !important; 
    }




    .bulk-action .left{
        float:none;
    }

    /*elements*/


    .button,
    button ,
    input[type='submit'] ,
    input[type='reset'] ,
    input[type='button'] {
        width:100% !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing:border-box;
        float:none;
        clear: both;
        text-align: center;
    }


    input[type='text'],
    input[type='password'],  
    input[type='email'],
    input[type='url'],
    input[type='number'],
    input[type='color'],
    textarea,
    select{
        width:100% !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing:border-box;
        float:none;
        clear: both;
        display:block;
        max-width:100%;
    }



    form label > span,form .label > span{
        display: block;
        text-align:right;
        padding-left:2em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing:border-box;
        margin-bottom:5px;
    }



    label > .cke_reset {
        margin:0 !important;
        width:100%;
    }
}