
*{
    font-family: 'yekan';
}

body{
    direction: rtl;
    font-size:10pt;
}


#header{
    background: url(../img/header.png);
    padding:20px 0;
    /*text-align: center;*/
}

#menu{
    background: url(../img/menu.png) center;
    margin-bottom:-1em;
    width:100%;
    box-shadow: 0px 0px 6px black;
}
#menu ul{
    overflow: hidden;
    padding:5px;
    list-style: none;
}
#menu li{
    float: right;
    padding:5px 1em;
    border:1px solid transparent;
    -o-transition:.6s;
    -ms-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition:.6s;
    margin-right:1em;
}

#menu li:hover{
    background: rgba(255,0,131,0.2);
    border:1px solid #ff0083;
    margin-right:.5em;
    margin-left:.5em;
}
#menu li a{
    color: white;

}

#soheil{
    border:1px solid gray;
    border-radius:1px 60px;
    margin:1em auto;
    opacity:.65;
    -o-transition:.6s;
    -ms-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition:.6s;
}
#soheil:hover{
    opacity:1;  
}

.scrol{
    list-style: none;
}
.scrol li{
    background: url(../img/gray.png) center;
    padding:5px 1em;
    margin:3px 5px 3px 5px;
    border:1px solid gray;
}
.scrol li a{
    color: #ff0083;
    font-size:10pt;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    display: block;
}

.scrol li:hover a{
    margin-left:10px;
    color: white;
}


.photo .container{
    padding-top:100px;
}
.section1 {
    background-color: black;
    background-image: url(../img/sec2.png);
    background-repeat:repeat;
    box-shadow: inset 3px 3px 24px black;
}

.cp{
    cursor:pointer;
}
.section2 {
    background-image: url(../img/sec1.png);
    background-repeat: repeat;
    box-shadow: inset 3px 3px 24px black;
}
.sec-single {
    background-image: url(../img/sec-single.png);
    background-repeat: repeat;
    box-shadow: inset 3px 3px 24px black;
}
.section3 {
    background-color: black;
    background-image: url(../img/sectest.png);
    background-repeat:repeat;
    /*background-size: 100% 200%;*/
    /* box-shadow: 5px 5px 5px black; */
}

#footer{
    background-color: black;
    background-image: url(../img/footer.png);  
    border-top: 2px solid rgb(255, 0, 184);
    overflow: hidden;
}

#links{
    height:25px;
}

#scl{
    position:absolute;
    top:30px;
    width:100%;
    z-index:999;  
}

#news h3{
    color:#ff0083;
    text-align: center;
    background:rgba(128,128,128,.6);
    padding:7px 1em;
    margin:1.5em;
    margin-bottom: 1em;
}

#tools ul{
    list-style:none;
}

.foot{
    margin-top:1em;
    background-repeat: no-repeat;
    background-size:100% 100%;
    padding: 20px;
    min-height:230px;
}

.foot1{
    background-image: url(../img/foot1.png);
}
.foot2{
    background-image: url(../img/foot2.png);
}
.foot3{
    background-image: url(../img/foot3.png);
}

.foot h3{
    color:white;
    text-align: center;
    margin:1em;
    text-shadow: 1px 1px 3px #ff0083;
}

.foot ul{
    list-style:square inside;
    margin: 2px 2em;
}

.foot ul li{
    color: #ff0083;
    margin:5px auto;
}
.foot ul li:hover{
    color: darkviolet;
}
.foot ul li:hover a{
    color: darkviolet;
}
.foot ul li a{
    color: black;
    display: inline-block;
    width: 90%;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.fixed{
    position: fixed;
    top:0;
    opacity:.8;
    z-index: 99999;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.fixed:hover{
    opacity: 1;
}

.opact{
    background-color: rgba(255,255,255,0.8);
    min-height: 500px;
    border: 4px gray outset;
    box-shadow: 1px 1px 3px rgba(255,255,255,0.6);
    margin:.5em;
}

.sec-single h3{
    background: rgba(255,0,131,0.5) !important;
    border:1px solid #ff0083; 
    font-size: 14pt;
    color:white !important;
    margin:5px  !important;
}

.sec-single .text{
    margin:1em;
    text-align: justify;
    line-height: 1.7em;
    font-size:10pt;
}

.side h3{
    margin:5px  !important;
}
.side ul{
    list-style:square inside;
    margin: 2px 2em;
    margin-bottom: 30px;
}
.side ul ul{
    margin: 1px 0.5em;
}


.side ul li{
    color: #ff0083;
    margin:8px auto;
    line-height: 1.5em;
}
.side ul li:hover{
    color: darkviolet;

}
.side ul li a:hover {
    color: darkviolet;
    border-bottom: 1px dotted darkmagenta;

}
.side ul li a{
    color: black;
    display: inline-block;
    width: 90%;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;font-size:10pt;
    border-bottom: 1px dotted #ff0083;
}


#login{
    width: 222px;
    height:135px;
    background:  url(../img/login.png);
    position:fixed;
    left: -190px;
    top: 37vh;
}
.logiged{
    background:  url(../img/pro.png) !important; 
}

.logiged ul{
    list-style: inside square;
    margin-top: 10px;
}
.logiged ul li{
    margin: 7px 5px;
    color: white;
}
.logiged ul li a{
    color: white;
    font-size: 10pt;
}


#login form{
    padding: 10px 40px 20px 10px;
}

#login form input{
    border: 1px solid purple;
    margin: 2px auto;
    padding: 2px;
    background:rgba(255,255,255,0.6);
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#login form input[type='submit']{
    background: rgba(255,0,131,0.2);
    border: 1px solid silver;
    padding:4px 7px;
    width: 75%;
}


#search {
    padding: 30px 20px 20px 20px;
}

#search  input{
    border: 1px solid purple;
    margin: 2px auto;
    padding: 2px;
    background:rgba(255,255,255,0.6);
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#search  input[type='submit']{
    background: rgba(255,0,131,0.2);
    border: 1px solid silver;
    padding:4px 7px;
    width: 75%;
}

.icon{
    list-style: none;
    text-align: center;
    margin-top: 3em;
}

.icon li{
    min-width:128px;
    height:auto;
    text-align: center;
    background:  silver;
    display: inline-block;
    margin:8px;
    border:1px solid gray;
    padding:10px;
    opacity:.75;
    -moz-transition:.2s;
    -o-transition:.2s;
    -ms-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}
.icon li:hover{
    opacity:1;
    padding:15px;
}
.icon li img{
    width:60px;
    height: auto;
}
.icon li b{
    font-size:9pt;
    color: black;
}

/*-480 width*/
@media ( max-width : 480px ) {

    .fixed{
        position: static;
    }
}

.mrg{
    margin:0 1em;font-size:10pt;
}

.mrg table{
    width:70%;
    margin: auto;
}
.mrg td{
    padding:4px 5px;
}

canvas{
    margin: auto;
}

#myCanvasContainer a{
    display: inline-block !important;
}

.form label > span,.form .label > span{
    display: inline-block;
    min-width: 100px;
    text-align: left;
}
.form label,.form .label{
    display: block;
    margin: 15px auto;
    /* max-width: 80%; */
}

.form input,.form select{
    border: 1px solid #ff0083;
    padding:1px 3px;
    min-width:45%;
}

.form input[type='submit']{
    min-width:100px;
    background: mediumorchid;
    color: white;
    display: inline-block;
}
.form input[type='submit']:hover{
    background: deeppink;
}


#facebook{
    margin-top:30px;
    position: fixed;
    top:45vh;
    left: 47%;
    z-index:9999;
    display: none;
}
.facebook_block{
    background-color:#ff0083;
    border:2px solid #fff;
    float:left;
    height:30px;
    margin-left:5px;
    width:8px;
    opacity:0.1;
    -webkit-transform:scale(0.7);
    -webkit-animation-name: facebook;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;

}
#block_1{
    -webkit-animation-delay: .3s;
}
#block_2{
    -webkit-animation-delay: .4s;
}
#block_3{
    -webkit-animation-delay: .5s;
}
@-webkit-keyframes facebook{
    0%{-webkit-transform: scale(1.2);opacity:1;}
    100%{-webkit-transform: scale(0.7);opacity:0.1;}
}

.a64{
    width:64px;
    height: 64px;
}
.avatar{
    border:1px solid #fff;
}

.lst{
    border: 1px solid #ff0083;
    margin:0.5em;
    height: 360px;
}

.lst img{
    width: 98%;
    margin:1%;
    max-height: 200px;
}
.lst h3{
    font-size:12pt;
}
.lst p{
    margin: 0 0.5em;
    background: white;
    min-height: 88px;
    padding:3px;
    font-size:10pt;
}


.pagination{
    margin: 20px auto;
    text-align: center;
}

.pagination a{
    display: inline-block;
    padding: 5px;
    margin: 3px;
    border: 1px solid fuchsia;
    background: white;
    color: #ff0083;
    -o-transition:.6s;
    -ms-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition:.6s;
}
.pagination a:hover{
    background:#ff0083;
    color: white;
}
.pagination > a:first-child{
    border-radius:  0 5px 5px  0;
}
.pagination > a:last-child{
    border-radius:   5px 0  0 5px;
}


.pagination a:hover{
    background: #fd95eb;
    color: white;
}
.pagination a.actived{
    background:#ff0083;
    color: white;
}

.pagination .overflow {
    overflow: hidden;
    display: none;
    background: white;
    opacity: 0.8;
    max-width: 80%;
    position:absolute;
    left: 10%;
    right: 10%;
    padding: 0.5em;
    z-index: 9999;
}

.attach{
    padding: 4px 1em;
}

.attach li{
    list-style: none;
    -o-transition:.6s;
    -ms-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition:.6s;
}
.attach li a{
    padding: 5px 1% 4px 1%;
    margin:5px;
    background: #fff;
    color: black;
    -o-transition:.6s;
    -ms-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition:.6s;
    display: block;
}
.attach li:hover{
    background: #fd95eb;
}

.like{
    background: rgba(255,0,131,0.5) !important;
    border: 1px solid #ff0083;
    font-size: 10pt;
    color: white !important;
    margin: 1em;
    padding: 7px 1em;
}
.like button{
    float: left;
    padding:2px 2px 0 2px;
    margin-top: -2px;
    min-width: 100px;
    border: inset 1px blueviolet;
    background: #ff0083;
    color: white;
    -o-transition:.6s;
    -ms-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition:.6s;
}

.like button:hover{
    background: white;
    color: black;
    font-weight: bold;
}

.liked{
    display: none;
}
.par-liked .liked{
    display: block;
}
.par-liked .nliked{
    display: none;
}

#comment{
    background: white;
    margin:1em;
    padding:5px;
}
#comment li{
    margin:5px;
    border:1px solid silver;
    padding:5px 2px;
    list-style: none;
}
#comment li:nth-child(odd){
    background: rgba(127,127,127,.3);
}
#comment li:nth-child(even){
    background: rgba(255,255,255,.3);
}
#comment ul{
    padding:6pt;
}

#comment li .head{
    height: 34px;
    padding:2px;
    background: rgba(250,147,250,0.3);
}
#comment li .head .author{
    display:block;
    margin: 3px 0 0 0;
    font-weight: bold;
}
#comment li .head .date{
    margin-top:-10px;
    display: block;
    font-size:8pt;
}
#comment li .head .avatar{
    width:32px;
    height:32px;
    float:right;
    margin:0 0 0 1em;
}
#comment li .head .reply{
    min-width:60px;
    margin: 5px 0 5px 5px;
    border: 1px solid #ff0083;
}
#comment li .head .reply:hover{
    background: #fd95eb;
}
#comment li p{
    padding: 3px 5px;
}

#comment li textarea{
    width:96%;
    padding:2%;
    min-height:70px;
}

#comment li .send{
    min-width:100px;
    margin: 5px 0 5px 5px;
    border: 1px solid #ff0083;
}
#comment li .send:hover{
    background: #fd95eb;
}
#comment li .send:disabled{
    border:1px solid gray;
}
#comment li .send:disabled:hover{
    background: transparent;
}
#comment a{
    color:black;
}
#comment a:hover{
    text-shadow:1px 1px 5px #ff0083;
}

.lk{
    margin: 3px;
    border: 1px solid #ff0083;
    background:white;
    min-height:70px;
}

.lk img{
    float: left;
    margin:3px;
    max-height:64px;
}

.lk h6{
    background: #fd95eb;
    padding:3px 5px;
}

.lk p{
    padding: 3px 5px;
}

.wh{
    background: rgba(240,240,240,0.7);
    border:1px solid #ff0083;
    margin:5px;
}

.btn{
    padding:2px 1em 0 1em;
    margin-top: -2px;
    min-width: 100px;
    border: inset 1px blueviolet;
    background: #ff0083;
    color: white;
    -o-transition:.6s;
    -ms-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition:.6s;
}

.btn:hover{
    background: white;
    color: black;
    font-weight: bold;
}
.btn:disabled{
    border:1px solid gray;
}
.btn:disabled:hover{
    background: transparent;
}
.delf{
    min-width:64px;
    width:64px;
}
#unlike{
    background: silver;
}